html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;

}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    box-sizing: border-box;
}
.container{
    padding: 0 15px;
}
.grid-item { width: 25%; }

.grid-item--width2 { width: 50%; }
.grid-item img {
    width: 100%;
}

.grid-item {
    padding: 10px;
}

.grid-item img {
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(211, 233, 211, .35);
}

.grid_inner{
    padding: 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #dedede;
    width: 100%;
    overflow: hidden;
}

.grid_inner img {
    height: auto;
    object-fit: cover;
    object-position: center;
}

.grid_inner {
    position: relative;
}

.grid_inner__text {
    position: absolute;
    left: 0;
    top: 50px;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    line-height: normal;
    opacity: 0;
    transition: 0.3s linear;
}

.grid_inner__text h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.grid_inner__text a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    background-image: linear-gradient(
            45deg
            , #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 30px;
    padding: 12px 40px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}

.grid_inner__text a:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.grid_inner:hover .grid_inner__text {
    top: 0;
    opacity: 1;
    transition: 0.3s linear;
}

.grid_inner:hover img {
    filter: blur(4px);
    transition: 0.3s linear;
    opacity: 0.5;
}

.grid_inner img {
    transition: 0.3s linear;
}

.grid_inner__text {
}